<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyx.vaccine.mapper.VaccineInformationMapper">

    <resultMap id="BaseResultMap" type="zyx.vaccine.entity.VaccineInformation">
            <id property="vaccineId" column="vaccine_id" jdbcType="BIGINT"/>
            <result property="vaccineName" column="vaccine_name" jdbcType="VARCHAR"/>
            <result property="vaccineObject" column="vaccine_object" jdbcType="VARCHAR"/>
            <result property="ageMin" column="age_min" jdbcType="TINYINT"/>
            <result property="ageMax" column="age_max" jdbcType="TINYINT"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="adverseReaction" column="adverse_reaction" jdbcType="VARCHAR"/>
            <result property="vaccineTaboo" column="vaccine_taboo" jdbcType="VARCHAR"/>
            <result property="vaccineProdecerName" column="vaccine_prodecer_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        vaccine_id,vaccine_name,
        vaccine_object,age_min,age_max,
        introduction,
        adverse_reaction,vaccine_taboo,
        vaccine_prodecer_name
    </sql>
    <select id="findPage" resultType="zyx.vaccine.entity.VaccineInformation">
        select * from vaccine_information vaccine
        <where>
        <if test="vaccineName!= null and vaccineName != ''">
        and vaccine.vaccine_name like concat('%', #{vaccineName} ,'%')
        </if>
        </where>
    </select>
</mapper>
